<nav class="navbar navbar-default navbar-fixed-top site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 pull-left">
                <a href="#" class="navbar-brand">
                    <div class="jcf-navbar-text">Profile</div>
                </a>
            </div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a href="#!/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid content">
    <form>
        <label for="username">Username</label>
        <input ng-model="model.user.username" class="form-control" type="text" placeholder="username" id="username"/>
        <label for="email">Email</label>
        <input ng-model="model.user.email" class="form-control" type="email" placeholder="email" id="email"/>
        <label for="first-name">First Name</label>
        <input ng-model="model.user.firstName" class="form-control" type="text" placeholder="first name" id="first-name"/>
        <label for="last-name">Last Name</label>
        <input ng-model="model.user.lastName" class="form-control" type="text" placeholder="last name" id="last-name"/>
    </form>
    <a href="#!/user/{{model.userId}}/website" class="btn btn-primary btn-lg btn-block">Websites</a>
    <a href="#!/login" class="btn btn-primary btn-lg btn-block btn-danger">Logout</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>