<div class="container-fluid">
    <h2>Register</h2>
    <form>
        <input ng-model="model.user.username" class="form-control" type="text" placeholder="username" name="username"/>
        <input ng-model="model.user.password" class="form-control" type="password" placeholder="password"
               name="password"/>
        <input ng-model="model.user.password" class="form-control" type="password" placeholder="verify password"
               name="verify-password"/>
    </form>
    <a href ng-click="model.createUser()" class="btn btn-primary btn-lg btn-block">Register</a>
    <a href="#!/login" class="btn btn-primary btn-lg btn-block btn-danger">Cancel</a>
</div>