<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project">MBTA Safe Arrival</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Routes</a></li>
            <li><a href="#!/explore">Explore</a></li>
            <li><a href="#!/profile">Profile</a></li>
            <li><a href ng-click="model.logout()">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.user.role">
        <div ng-switch-when="PARENT">
            <input placeholder="username" ng-model="model.newRel.uid">
            <button class="btn btn-primary" ng-click="model.addRel()">Add Child Traveler</button>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <th>Name</th>
                    <th>Route</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rel in model.rels">
                        <td>{{rel.username}}</td>
                        <td><a class="btn btn-danger pull-right" href="#!/route/follow/{{rel.traveler}}">View Active Route</a></td>
                        <td><a class="btn btn-danger pull-right" ng-click="model.deleteRel(rel)">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-switch-when="UNAUTH">
            Parents can use MBTA Safe Arrival to connect with the little travelers in their lives. We present them with an easy-to-follow route plans of your creation, and we report back on their progress as they complete their journey.
        </div>

        <div ng-switch-when="ADMIN">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <th>Parent</th>
                    <th>Child</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rel in model.rels">
                        <td>{{rel.parentName}}</td>
                        <td>{{rel.username}}</td>
                        <td><button class="btn btn-primary" ng-click="model.deleteRel(rel)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>