<h1>All Routes</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Owner</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Shared with children</th>
        <th>Shared with public</th>
        <!--<th><a href="#!/route/new" class="btn btn-primary">Add Route</a></th>-->
        </thead>
        <tbody>
        <tr ng-repeat="route in model.routes">
            <td>{{route.name}}</td>
            <td>{{route.un}}</td>
            <td>{{route.origin}}</td>
            <td>{{route.destination}}</td>
            <td><span ng-if="route.children">Yes</span></td>
            <td><span ng-if="route.public">Yes</span></td>
            <td><a class="btn btn-danger" href="#!/route/{{route._id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>