<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project">MBTA Safe Arrival</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#!/gallery">Routes</a></li>
            <li><a href="#!/explore">Explore</a></li>
            <li><a href="#!/profile">Profile</a></li>
            <li><a href ng-click="model.logout()">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div ng-switch="model.user.role">
        <div ng-switch-when="UNAUTH">
            <div ng-include src="'views/dashboard/unauth-dashboard.html'"></div>
        </div>
        <div ng-switch-when="ADMIN">
            <div ng-include src="'views/dashboard/admin-dashboard.html'"></div>
        </div>
        <div ng-switch-when="PARENT">
            <div ng-include src="'views/dashboard/parent-dashboard.html'"></div>
        </div>
        <div ng-switch-when="TRAVELER">
            <div ng-include src="'views/dashboard/traveler-dashboard.html'"></div>
        </div>
    </div>
</div>