<h1>My routes</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>Name</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Shared with children</th>
        </thead>
        <tbody>
        <tr ng-repeat="route in model.routes">
            <td>{{route.name}}</td>
            <td>{{route.origin}}</td>
            <td>{{route.destination}}</td>
            <td><span ng-if="route.children">Yes</span></td>
            <td><a class="btn btn-block btn-primary" href="#!/route/{{route._id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-switch-when="PARENT">
    <ol>
        <div ng-repeat="route in model.activeRoutes">
            <ol>
                <div ng-repeat="step in model.route.steps">
                    <li>
                        {{step.action}} at {{step.place}}. <span ng-if="step.completed">Completed</span>
                    </li>
                </div>
            </ol>
        </div>
    </ol>
</div>