<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Website</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../styles.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-lg">
                <a href="website-list.view.client.html" class="navbar-brand">
                    <div class="jcf-navbar-text"><span class="glyphicon glyphicon-menu-left"></span> Websites</div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="col-xs-10 pull-left">
                    <a href="website-list.view.client.html" class="navbar-brand">
                        <div class="jcf-navbar-text visible-lg">Edit Website</div>
                        <div class="jcf-navbar-text hidden-lg"><span class="glyphicon glyphicon-menu-left"></span> Edit Website</div>
                    </a>
                </div>
                <div class="col-xs-2 pull-right">
                    <div class="pull-right navbar-text">
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 visible-lg border-col">

            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Wikipedia</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            Facebook
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Twitter
                        </div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </div>
                    </div>


                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">Amazon</div>
                        <div class="col-xs-2">
                            <a href="website-edit.view.client.html"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-xs-12 col-lg-9">

            <label for="name">Name</label>
            <input name="name"
                   placeholder="Name"
                   class="form-control"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="description"
                      rows="5"
                      placeholder="Description"
                      class="form-control"
                      id="description"></textarea>

            <a href="website-list.view.client.html" class="btn btn-primary btn-lg btn-block btn-danger">Cancel</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>