<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project">< Dashboard</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Routes</a></li>
            <li><a href="#!/explore">Explore</a></li>
            <li><a href="#!/profile">Profile</a></li>
            <li><a href ng-click="model.logout()">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <input ng-model="model.search" placeholder="stop-name"/>
    <button ng-click="model.submit()" class="btn btn-primary">Submit</button>

    <div class="multi-list">
        <ul class="list-group">
            <div ng-repeat="stop in model.stops">
                <li class="list-group-item" ng-click="model.show(stop)">{{stop.name}} - {{stop.code}}</li>
            </div>
        </ul>
    </div>
</div>