<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project">MBTA Safe Arrival</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Routes</a></li>
            <li><a href="#!/explore">Explore</a></li>
            <li><a href="#!/profile">Profile</a></li>
            <li><a href ng-click="model.logout()">Log Out</a></li>
        </ul>
    </div>
</nav>

<ol>
    <div ng-repeat="p in model.predictions">
        <li>{{p.control}} - {{p.line}} - {{p.time}} min</li>
    </div>
</ol>