<div class="container-fluid">
    <div ng-switch="model.user.role">
        <div ng-switch-when="PARENT">
            <h1>Edit route</h1>
            <input placeholder="route name" ng-model="model.route.name">
            <ol>
                <div ng-repeat="step in model.route.steps">
                    <li>
                        <input ng-model="step.place">
                        <input ng-model="step.action">
                    </li>
                </div>
            </ol>
            <button ng-click="model.editRoute()">Save Route</button>
            <button ng-click="model.addStep()">Add Step</button>
            <input type="checkbox" ng-model="model.route.children" name="share with children">
        </div>
    </div>
</div>