<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/project">MBTA Safe Arrival</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#!/gallery">Routes</a></li>
            <li><a href="#!/explore">Explore</a></li>
            <li><a href="#!/profile">Profile</a></li>
            <li><a href ng-click="model.logout()">Log Out</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <input ng-model="user.username" class="form-control" placeholder="username"/>
    <input ng-model="user.password" class="form-control" placeholder="password" type="password"/>
    <input ng-model="user.password2" class="form-control" placeholder="password again" type="password"/><br/>
    <button ng-click="model.register(user, 'PARENT')" class="btn btn-primary btn-block">Register Parent</button>
    <button ng-click="model.register(user, 'TRAVELER')" class="btn btn-primary btn-block">Register Traveler</button>
</div>