<nav class="navbar navbar-default navbar-fixed-top jcf-navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 pull-left">
                <a href="#!/user/{{model.userId}}/website/:wid/page/:pid/widget" class="navbar-brand">
                    <span class="glyphicon glyphicon-menu-left"></span> Widget Edit
                </a>
            </div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-brand">
                    <a href="#!/user/{{model.userId}}/website/:wid/page/:pid/widget">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <label for="pageName">Name</label>
        <input class="form-control" type="text" placeholder="Page Name" name="pageName" id="pageName"/>
        <label for="text">Text</label>
        <input class="form-control" type="text" placeholder="Text" name="text" id="text"/>
        <label for="size">Size</label>
        <input class="form-control" type="text" placeholder="Size" name="size" id="size"/>
    </form>
    <a href="#!/user/{{model.userId}}/website/:wid/page/:pid/widget" class="btn btn-primary btn-lg btn-block btn-danger">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jcf-footer-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>