<nav class="navbar navbar-default navbar-fixed-top jcf-navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 pull-left">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-brand">
                    <span class="glyphicon glyphicon-menu-left"></span> Widgets
                </a>
            </div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-brand">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" id="sortable">
    <div ng-repeat="widget in model.widgets">
        <div ng-switch="widget.type">
            <div ng-switch-when="HEADING">
                <div class="jcf-widget-tools">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                </div>
                <h1><span ng-bind-html="model.trustHTML(widget.text)"></span></h1>
            </div>
            <div ng-switch-when="IMAGE">
                <div class="jcf-widget-tools">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                </div>
                <img width="{{widget.width}}" ng-src="{{widget.url}}">
            </div>
            <div ng-switch-when="YOUTUBE">
                <div class="jcf-widget-tools">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                </div>
                <div class="embed-responsive embed-responsive-4by3 content jcf-youtube">
                    <iframe src="{{model.trustYoutube(widget.url)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div ng-switch-when="HTML">
                <div class="jcf-widget-tools">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                    <span class="glyphicon glyphicon-align-justify pull-right"></span>
                </div>
                {{widget.text.$$unwrapTrustedValue()}}
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#sortable').sortable({
            start: function (edit, ui) {
                $(this).attr("start", ui.item.index());
            },
            update: function (edit, ui) {
                var pageId = window.location.href.split("/")[10];
                var url = "/page/" + pageId + "/widget?initial=" + $(this).attr("start") + "&final=" + ui.item.index();
                $(this).removeAttr("start");
                $.ajax({type: "PUT", url: url})
            }
        });
    });
</script>

<nav class="navbar navbar-default navbar-fixed-bottom jcf-footer-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>