<nav class="navbar navbar-default navbar-fixed-top site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-lg">
                <a ng-click="model.updateWebsite(model.website._id, model.website)" href="#!/user/{{model.userId}}/website" class="navbar-brand">
                    <div class="jcf-navbar-text"><span class="glyphicon glyphicon-menu-left"></span> Websites</div>
                </a>
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="col-xs-10 pull-left">
                    <a href="#!/user/{{model.userId}}/website" class="navbar-brand">
                        <div class="jcf-navbar-text visible-lg">Edit Website</div>
                        <div class="jcf-navbar-text hidden-lg"><span class="glyphicon glyphicon-menu-left"></span> Edit Website</div>
                    </a>
                </div>
                <div class="col-xs-2 pull-right">
                    <div class="pull-right navbar-text">
                        <a href="" ng-click="model.updateWebsite(website)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-3 visible-lg border-col">
            <ul class="list-group">
                <div ng-repeat="website in model.websites">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">{{website.name}}</div>
                        <div class="col-xs-2">
                            <a href="#!/user/{{mode.userId}}/website/{{website._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                        </div>
                    </div>
                </li>
                </div>
            </ul>
        </div>

        <div class="col-xs-12 col-lg-9">
            <label for="name">Name</label>
            <input ng-model="model.website.name"
                   name="name"
                   placeholder="Name"
                   class="form-control"
                   id="name"/>

            <label for="description">Description</label>
            <textarea name="description"
                      rows="5"
                      placeholder="Description"
                      class="form-control"
                      id="description"></textarea>

            <a ng-click="model.deleteWebsite(website)" class="btn btn-primary btn-lg btn-block btn-danger">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom site-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a href="#!/user/{{model.userId}}"><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>