<nav class="navbar navbar-default navbar-fixed-top jcf-navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 pull-left">
                <a href="widget-list.view.client.html" class="navbar-brand">
                    <span class="glyphicon glyphicon-menu-left"></span> Choose Widget
                </a>
            </div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-brand">
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="jcf-widget-list">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="widget-heading.view.client.html">Header</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Label</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">HTML</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Text Input</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Link</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Button</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="widget-image.view.client.html">Image</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="widget-youtube.view.client.html">YouTube</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Data Table</a></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10"><a href="#">Repeater</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom jcf-footer-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10"></div>
            <div class="col-xs-2 pull-right">
                <div class="pull-right navbar-text">
                    <a href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user"></span></a>
                </div>
            </div>
        </div>
    </div>
</nav>