input {
    margin-bottom: 5px;
}

.title {
    color: white;
}

label {
    margin-bottom: 3px;
}

.content {
    margin-top: 10px;
}

.jcf-navbar-text .glyphicon {
    color: white;
}

.glyphicon-cog {
    color: #337ab7;
}

.site-header .glyphicon {
    color: white;
}

.site-header .navbar-brand {
    color: white;
}

body {
    padding-top: 70px;
}

.list-group-item {
    border-color: transparent;
}

#description {
    margin-bottom: 10px;
}

.site-header {
    background-color: #337ab7;
}

.jcf-navbar-default .glyphicon {
    color: black;
}

.jcf-footer-default .glyphicon {
    color: #337ab7;
}

.jcf-widget-list li {
    color: #337ab7;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    padding-bottom: 40px;
}

.jcf-navbar-text {
    color: white;
}