input {
    margin-bottom: 5px;
}

.title {
    color: white;
}

label {
    margin-bottom: 3px;
}

.content {
    margin-top: 10px;
}

.navbar .glyphicon {
    color: white;
}

.glyphicon-cog {
    color: #337ab7;
}

body {
    padding-top: 70px;
}

.list-group-item {
    border-color: transparent;
}

#description {
    margin-bottom: 10px;
}

.site-header {
    background-color: #337ab7;
}

.jcf-navbar-text {
    color: white;
}